body {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}

h1 {
    line-height: 1.4;
    font-size: 50px;
}

h2 {
    line-height: 1.2;
    margin-top: 0px;
    color: #0A246A;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
    color: #0A246A;
}

sup {
    font-size: 70%;
    vertical-align: super;
}

strong {
    font-weight: 700;
}

.figcaption {
    font-weight: bold;
    background-color: #eee;
    padding: 4px 6px;
    margin-left: 1px;
    margin-right: 1px;
}

.figcaption ~ figure {
    border-top: 0;
}

.email {
    margin-top: 30px;
}

.email a {
    color: #ddd;
}

a {
    font-weight: 700;
}

header ul.meta li.email {
    display: block;
}

.watermark
{
  position: fixed;
  top: 40%;
  width: inherit;
  z-index: 99;
  color: rgba(192,16,16,0.4);
  font-size: 1000%;
  font-weight: bold;
  text-align: center;
  transform: rotate(-45deg);
}

article a {
    text-decoration: underline;
}

article a,
article a:visited {
    color: #0A246A;
}

article li {
  margin-left: 0;
}

article .container {
  margin-left: 1em;
}

@media (max-width: 960px) {
  article .container {
    margin-left: 0;
  }
}

.highlighter-rouge {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    background-color: #f8f8f8;
    border: 1pt solid rgba(86,156,214, 0.3);
    border-radius: 3px;
    padding: 1px 2px 2px 2px;
}

.highlight
{
    background: #000;
    border: 1px solid #eff4ff;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    padding: 5px 10px;
    margin-bottom: 15px;
    line-height: 26px;
    overflow: auto;
}

.highlight pre {
    line-height: 1.4;
}

.highlight .language-batch,
.highlight .language-text,
.highlight .language-tree,
.highlight .language-powershell {
    color: #c0c0c0;
}

.highlight .c1 { color: rgb(74,141,63); font-style: italic }
.highlight .s { color: rgb(214,157,133) }
.highlight .s1 { color: rgb(214,157,133) }
.highlight .s2 { color: rgb(214,157,133) }
.highlight .se { color: rgb(214,157,133) }
.highlight .k { color: rgb(86,156,214) }
.highlight .kc { color: rgb(86,156,214) }
.highlight .kd { color: rgb(86,156,214) }
.highlight .kt { color: rgb(86,156,214) }
.highlight .mi { color:  rgb(134,181,133)}
.highlight .n { color: rgb(220,220,220) }
.highlight .na { color: rgb(220,220,220) }
.highlight .nc { color: rgb(78,201,176) }
.highlight .nf { color: rgb(220,220,220) }
.highlight .nn { color: rgb(220,220,220) }
.highlight .nt { color: rgb(215,186,125) }
.highlight .nx { color: rgb(220,220,220) }
.highlight .o { color: #aaaaaa }
.highlight .p { color: #aaaaaa }
.highlight .pi { color: #aaaaaa }

@media (max-width: 960px) {
  h1 {
    font-size: 36px;
  }
}
